<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Bookshop Responsive Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Modernizer js -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
 

    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

        <!-- Header -->
        <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-7 col-lg-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">

                                <li class="drop">
                                    <a href="admin_products.html">Products</a>
                                </li>
                                <li class="drop">
                                    <a href="admin_orders.html">Orders</a>
                                </li>
                                <li class="drop">
                                    <a href="admin_users.html">Users</a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8 col-sm-8 col-5 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <button class="admin_sign_out">Sign Out</button>

                        </ul>
                    </div>
                </div>

                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <!-- //Header -->
        <!-- Start Search Popup -->
        <div class="box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" action="#">
                <div class="field__search">
                    <input type="text" placeholder="Search entire store here...">
                    <div class="action">
                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                    </div>
                </div>
            </form>
            <div class="close__wrap">
                <span>close</span>
            </div>
        </div>
        <!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="admin_h2">
                    <div>
                        <h2 class="admin_title">Orders</h2>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">
                            <div class="table-content wnro__table table-responsive">
                                <table>
                                    <thead>
                                        <tr class="title-top">
                                            <th class="product-ID">ID</th>
                                            <th class="product-buyer">buyer</th>
                                            <th class="product-date">date</th>
                                            <th class="product-total">total</th>
                                            <th class="product-statu">status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-ID">
                                                <a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal">Order #1</a>
                                            </td>
                                            <td class="product-buyer">Jhon Smith</td>
                                            <td class="product-date">05/05/2020</td>
                                            <td class="product-total">150$</td>
                                            <td class="product-statu">Paid</td>
                                        </tr>
                                        <tr>
                                            <td class="product-ID">
                                                <a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal">Order #1</a>
                                            </td>
                                            <td class="product-buyer">Jhon Smith</td>
                                            <td class="product-date">05/05/2020</td>
                                            <td class="product-total">150$</td>
                                            <td class="product-statu">Paid</td>
                                        </tr>
                                        <tr>
                                            <td class="product-ID">
                                                <a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal">Order #1</a>
                                            </td>
                                            <td class="product-buyer">Jhon Smith</td>
                                            <td class="product-date">05/05/2020</td>
                                            <td class="product-total">150$</td>
                                            <td class="product-statu">Paid</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- Footer Area -->
        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- //Footer Area -->
        <!-- QUICKVIEW PRODUCT -->
        <div id="quickview-wrapper">
            <!-- Modal -->
            <div class="modal fade" id="productmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal__container" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal__header">
                            <h3>Order #1</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-product">
                                <!-- Start product images -->
                                <div class="info-order">
                                    <div class="main-image images">
                                        <h3 class="wedget__title">Buyer</h3>
                                        <p>Jhon Smith</p>
                                        <p>user1@example</p>
                                        <p>+555 555 555</p>
                                        <br>
                                        <h3 class="wedget__title">Address</h3>
                                        <p>Grodno, Zarechnaya</p>
                                        <p>19, 1</p>
                                        <p>123456</p>
                                    </div>
                                </div>
                                <!-- end product images -->
                                <div class="order-info">
                                    <form action="#">
                                        <div class="table-content wnro__table table-responsive">
                                            <table>
                                                <thead>
                                                    <tr class="title-top">
                                                        <th class="product-image">Product</th>
                                                        <th class="product-buyer"></th>
                                                        <th class="product-date">Price</th>
                                                        <th class="product-total">Quantity</th>
                                                        <th class="product-statu">Sum</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="product-image">
                                                            <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                                        </td>
                                                        <td class="product-buyer">
                                                            <p>The Lord of the Rings</p>
                                                            <p>J.R.R. Tolkien</p>
                                                        </td>
                                                        <td class="product-date">25$</td>
                                                        <td class="product-total">1</td>
                                                        <td class="product-statu">25$</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-image">
                                                            <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                                        </td>
                                                        <td class="product-buyer">
                                                            <p>The Lord of the Rings</p>
                                                            <p>J.R.R. Tolkien</p>
                                                        </td>
                                                        <td class="product-date">25$</td>
                                                        <td class="product-total">1</td>
                                                        <td class="product-statu">25$</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-image">
                                                            <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                                        </td>
                                                        <td class="product-buyer">
                                                            <p>The Lord of the Rings</p>
                                                            <p>J.R.R. Tolkien</p>
                                                        </td>
                                                        <td class="product-date">25$</td>
                                                        <td class="product-total">1</td>
                                                        <td class="product-statu">25$</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                    <div class="cart__total__amount">
                                        <span>Grand Total</span>
                                        <span>75$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END QUICKVIEW PRODUCT -->
    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/script.js"></script>
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

</body>

</html>ript src="js/active.js"></script>

</body>

</html>ript src="js/active.js"></script>

</body>

</html>