<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Bookshop Responsive Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Modernizer js -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>


    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

        <!-- Header -->
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a href="/">Home</a></li>
                                <li class="drop"><a href="/shop-grid">Books</a>
                                    <div class="megamenu mega03">
                                        <ul class="item item03">
                                            <li class="title"></li>
                                            <li><a href="/shop-grid-biography">Biography </a></li>
                                            <li><a href="/shop-grid-business">Business </a></li>
                                            <li><a href="/shop-grid-cooking">Cooking </a></li>
                                            <li><a href="/shop-grid-health">Health & Fitness </a></li>
                                            <li><a href="/shop-grid-history">History </a></li>
                                            <li><a href="/shop-grid-mystery">Mystery </a></li>
                                        </ul>
                                        <ul class="item item03">
                                            <li class="title"></li>
                                            <li><a href="/shop-grid-inspiration">Inspiration </a></li>
                                            <li><a href="/shop-grid-romance">Romance </a></li>
                                            <li><a href="/shop-grid-fiction">Fiction/Fantasy </a></li>
                                            <li><a href="/shop-grid-self-improvement">Self-Improvement </a></li>
                                            <li><a href="/shop-grid-humor">Humor Books </a></li>
                                            <li><a href="/shop-grid-fairy-tale">Fairy-tales </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/about">About Page</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                             
                            <li class="wishlist">
                                <a href="/wishlist"></a>
                            </li>
                            <li class="shopcart"><a href="/cart"> </a>
                            </li>
                            <li class="setting__bar__icon">
                                <a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                    <div class="content-inner">
                                        <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>My Account</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <span><a href="/my-account">My Account</a></span>
                                                        <span><a href="/wishlist">My Wishlist</a></span>
                                                        <span><a href="/register">Create An Account</a></span>
                                                        <span><a href="/login">Sign In</a></span>
                                                        <span><a href="#">Sign Out</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Page</a></li>
                                <li><a href="/my-account">My Account</a></li>
                                <li><a href="/cart">Cart Page</a></li>
                                <li><a href="/checkout">Checkout Page</a></li>
                                <li><a href="/wishlist">Wishlist Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <!-- //Header -->
        <!-- Start Search Popup -->
        <div class="box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" action="#">
                <div class="field__search">
                    <input type="text" placeholder="Search entire store here...">
                    <div class="action">
                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                    </div>
                </div>
            </form>
            <div class="close__wrap">
                <span>close</span>
            </div>
        </div>
        <!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <!-- <h2 class="bradcaump-title">Shopping Cart</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="/">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Shopping Cart</span>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">
                            <div class="table-content wnro__table table-responsive">
                                <table>
                                    <thead>
                                        <tr class="title-top">
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="cart-items">
                                        <!-- <tr class="checkout">
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                            </td>
                                            <td class="product-name"><a href="#">Natoque penatibus</a></td>
                                            <td class="product-price">
                                                <span class="price">$10</span>
                                            </td>
                                            <td class="product-quantity"><input type="number" class="quantity" value="1"></td>
                                            <td class="product-subtotal">$165.00</td>
                                            <td class="product-remove"><a class="btn-remove">X</a></td>
                                        </tr>
                                        <tr class="checkout">
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                            </td>
                                            <td class="product-name"><a href="#">Natoque penatibus</a></td>
                                            <td class="product-price">
                                                <span class="price">$15</span>
                                            </td>
                                            <td class="product-quantity"><input type="number" class="quantity" value="1"></td>

                                            <td class="product-remove"><a class="btn-remove">X</a></td>
                                        </tr>
                                        <tr class="checkout">
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a>
                                            </td>
                                            <td class="product-name"><a href="#">Natoque penatibus</a></td>
                                            <td class="product-price">
                                                <span class="price">$5</span>
                                            </td>
                                            <td class="product-quantity"><input type="number" class="quantity" value="1"></td>

                                            <td class="product-remove"><a class="btn-remove">X</a></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        {{!-- <div class="cartbox__btn">
                            <!-- <div class="row">
                                <div class="cart__total__amount col-md-8">
                                    <span>Grand Total</span>
                                    <span class="grandTotal">$20</span>
                                </div>
                                <div class="col-md-4">
                                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between ">
                                        <li><a href="#">Make an order</a></li>
                                    </ul>
                                </div>
                            </div> -->


                        </div> --}}
                    </div>
                </div>

            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- Footer Area -->
        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="/">
                                        <img src="images/logo/3.png" alt="logo">
                                    </a>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered duskam alteration variations of passages</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

</body>

</html>